<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ueueo.photopicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>

        <activity
            android:name=".PhotoPickerActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".PermissionActivity"/>
    </application>

</manifest>
